#root {
  width: 100vw;
  height: 100vh;
  background-image: url(/public/images/IMG_0174.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: NeueJune, Helvetica, Arial, sans-serif;
  background-color: black;
}

nav {
  opacity: 1;
  transform: translateY(0px) translateZ(0px);
}

video {
  height: calc(100% - 15px); 
  opacity: 1;
}

button:hover {
  scale: 1.05;
}

.card {
  background-color: rgb(2 68 165 / .5);
  border-radius: 40px;
}

.pulsate {
  animation: pulsate 2s infinite alternate;
}

@keyframes pulsate {
  0% {
    transform: scale(1); /* Initial scale */
  }
  100% {
    transform: scale(1.1); /* Final scale */
  }
}

.picture-container {
  position: relative;
  height: 300px;
  border-radius: 20px; /* Adjust the height as needed */
  overflow: hidden;
}

.picture {
  position: absolute;
  top: 0%;
  height: 300px; 
  border-radius: 20px;
  opacity: 0; /* Initially hidden */
  animation: flowSideWays 16s linear infinite; /* Animation name, duration, timing function, iteration count */
}

@keyframes flowSideWays {
  0% {
    left: 0%; /* Initial position at left edge */
    opacity: 0; /* Initially hidden */
  }
  25% {
    left: 25%; /* Move to 25% of container width */
    opacity: 1; /* Gradually appear */
  }
  50% {
    left: 50%; /* Move to 50% of container width */
    opacity: 1; /* Stay visible */
  }
  75% {
    left: 75%; /* Move to 75% of container width */
    opacity: 1; /* Stay visible */
  }
  100% {
    left: 100%; /* Move to right edge */
    opacity: 0; /* Gradually fade out */
  }
}

/* Adjust the delay for each picture */
.picture:nth-child(1) {
  animation-delay: 0s; /* Start immediately */
}

.picture:nth-child(2) {
  animation-delay: 4s; /* Start after 1 second */
}

.picture:nth-child(3) {
  animation-delay: 8s; /* Start after 2 seconds */
}

.picture:nth-child(4) {
  animation-delay: 12s; /* Start after 2 seconds */
}